EVENT=event
EVENT_DATA_PATH=/mnt/event
IMAGE=ghcr.io/ieeeihuserres/certificate-server
IMAGE_TAG=v1.0.0
DOMAIN=event-certificate.ieeeihuserres.org
TZ=Europe/Athens
JAVA_HEAP_PERCENT=60
SERVER_CPU_LIMIT=1
SERVER_MEMORY_LIMIT=256M
SERVER_MEMORY_RESERVATION=128M
SERVER_PIDS_LIMIT=512